In [4]:
import pandas
import os

['.ipynb_checkpoints',
 'desafio linx.ipynb',
 'offline_sales.json',
 'online_orders.json',
 'online_pageviews.json',
 'respostas.ipynb',
 'respostass.ipynb']

In [19]:
df1 = pandas.read_json("offline_sales.json", lines = True)
df1['state'].value_counts()

RJ    8867
SP    6123
RS    4631
PE    3289
AM    1527
RN    1472
MA    1078
PR     888
PI     834
MS     361
GO     302
Name: state, dtype: int64

In [6]:
df2 = pandas.read_json("online_orders.json", lines = True)
df2

,date,visitor_id,deviceType,order_id,on_product_id,quantity,price,customer_id
0,2018-08-01,3.663324e+24,desktop,363063373630306,323762666337343,1,839,NaN
1,2018-08-01,3.430317e+24,mobile,356664366366353,313562333039323,1,629,6.339334e+19
2,2018-08-01,3.261343e+24,desktop,313432656633333,383863346531623,1,219,3.765363e+19
3,2018-08-01,6.437387e+24,mobile,633236633438383,666136386663626,1,239,6.533383e+19
4,2018-08-01,6.264657e+24,desktop,623030326130383,626533383465323,1,69,NaN
...,...,...,...,...,...,...,...,...
12232,2018-08-31,3.133384e+24,desktop,636136633433353,323765383935613,1,349,3.639383e+19
12233,2018-08-31,6.532624e+24,mobile,313334363633303,333437623263326,1,199,3.461394e+19
12234,2018-08-31,3.535356e+24,desktop,626166643633306,613264333961396,1,349,NaN
12235,2018-08-31,3.639664e+24,desktop,313030636530313,393665363031353,1,149,NaN
12236,2018-08-31,6.639613e+24,mobile,363033316437326,343466353731646,1,479,6.436654e+19

In [7]:
df3 = pandas.read_json("online_pageviews.json", lines = True)
df3

,date,visitor_id,deviceType,pageType,category_id,on_product_id,customer_id
0,2018-08-01,6.162326e+24,desktop,home,NaN,NaN,NaN
1,2018-08-01,3.538363e+24,desktop,landing_page,NaN,NaN,NaN
2,2018-08-01,3.130377e+24,mobile,subcategory,6.161393e+09,NaN,NaN
3,2018-08-01,3.130377e+24,mobile,subcategory,6.664354e+09,NaN,NaN
4,2018-08-01,3.235374e+24,desktop,landing_page,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3452535,2018-08-31,3.764303e+24,mobile,product,3.533344e+09,3.962384e+14,NaN
3452536,2018-08-31,3.830366e+24,desktop,subcategory,3.733386e+09,NaN,NaN
3452537,2018-08-31,6.261346e+24,mobile,subcategory,3.733386e+09,NaN,NaN
3452538,2018-08-31,6.137614e+24,mobile,subcategory,3.136306e+09,NaN,NaN
3452539,2018-08-31,3.839633e+24,desktop,product,3.163313e+09,3.837356e+14,NaN

In [22]:
# 1
tot_venda_off =df1['price'].sum()  #soma de todos os valores da coluna price das tabelas de venda online e offline
tot_venda_on = df2['price'].sum()
total_venda = tot_venda_on + tot_venda_off

print('venda total = R$',total_venda)
print('venda  online = R$',tot_venda_on)
print('venda offline  = R$',tot_venda_off)

venda total = R$ 19389777.130000003
venda  online = R$ 5641837
venda offline  = R$ 13747940.13

In [25]:
df2['quantity'].value_counts()

1    12209
2       26
3        2
Name: quantity, dtype: int64

In [28]:
#2
prod= [] # criamos uma lista vazia para adicionar a quantidade de vezes que um produto repete

print(df2['quantity'].value_counts())  # vemos quantas vezes um produto pode repetir dentro de um ticket

for i in range(len(df2.index)):       # o maximo que adicionamos sao 3 vezes pois quando procuramos por valores diferentes
    if df2.iloc[i, 5] == 3:           # na coluna de quantity so achamos 1,2,3 entao nao precisamos nos preocupar com valores 
        prod.append(df2.iloc[i, 4])   # maiores 
        prod.append(df2.iloc[i, 4])
        prod.append(df2.iloc[i, 4])
        
    if df2.iloc[i, 5] == 2:
        prod.append(df2.iloc[i, 4])
        prod.append(df2.iloc[i, 4])
    
    else:
        prod.append(df2.iloc[i, 4])

df4 = pandas.DataFrame(prod, columns = ['on_product_id'])  #criamos um dataframe com a lista que obtemos de produtos 
df4['on_product_id'].value_counts()                        # e vemos entao qual foi o que mais aprece/mais vendeu

1    12209
2       26
3        2
Name: quantity, dtype: int64

626664333563363    74
376531636530353    51
656136316465643    50
396464373131666    47
656662626334303    45
                   ..
643161333961346     1
656535323731333     1
626331343133353     1
383432356665383     1
313232346634653     1
Name: on_product_id, Length: 2184, dtype: int64

In [29]:
#3
#df1[['state','date']].groupby(['date'])
find = 0                                      #criamos algumas variaveis para que possamos trabalhar com porcentagem
week = 0
porc = 0

estado = df1.loc[df1['state'] == 'RJ'].copy()
cliente = estado[['state', 'date']].copy()
for i in range (len(cliente.index)):        # criamos um laco for para percorrer todo a nossa  tabela e verificar se
    if cliente.iloc[i,1].isoweekday() >=6:  # o dia da compra e ou nao um final de semana, caso positivo incrementamos uma
        find = find +1                      # variavel
    week = i
porc = find/week                            
print('Porcentagem de cariocas que compram nos finais de semana ', porc )  # por fim calculamos a porcentagem para melhor 
print(week)                                                                # visualizacao 
print(find)

Porcentagem de cariocas que compram nos finais de semana  0.19433792014437176
8866
1723

In [16]:
#4
porc_off = 0          #criamos variaveis para porcentagem de vendas online e offline
porc_on  = 0

visita = df3['customer_id'].copy()  #copiamos os codigos dos clientes, retiramos os valores nulos e transformamos um  uma lista,
visita = visita.dropna()            # fazemos isso com os clientes online,  offline e aqueles que visitaram o site
visita= visita.tolist()

off = df1['customer_id'].copy()    
off = off.tolist()

on  = df2['customer_id'].copy()
on  = on.tolist()

for i in range(len(visita)):       #fazemos o laco for para percorrer toda a lista de clientes e verificamos se  eles compraram 
    if visita[i] in off:           # online ou offline,  de acordo com a resposta incrementamos uma das variaveis de compra on 
        porc_off = porc_off + 1    # ou off
    elif visita[i] in on:
        porc_on  = porc_on  + 1
        
result_off = porc_off/len(visita) #calculamos a porcentagem para melhor visualizacao
result_on  = porc_on/len(visita)

print(result_off)
print(result_on)

0.1532470748467777
0.5984522998823748

In [40]:
#5

visita = df3['customer_id'].copy()   #criamos uma  lista  com  todos os clientes que visitaram o site
visita = visita.dropna()
visita= visita.tolist()

cliente =df3['customer_id'].copy()   #copiamos a primeira lista para  poder remover elementos dela
cliente = cliente.dropna()
cliente = cliente.tolist()

off = df1['customer_id'].copy()    #criamos uma lista de  clientes que compraram em lojas offline
off = off.tolist()

for i in range(len(visita)):     # percorremos a lista de clientes offline e retiramos aqueles que aparecem em ambas as listas
    if visita[i] in off:
        cliente.remove(visita[i])


print(len(cliente))             
on = df2['customer_id'].copy()   # lista de clientes online
on = on.tolist()  

for e in range(len(on)):       # percorremos a lista novamente para retirar os clientes que aparcem em ambas e ficar somente 
    if on[e] in cliente:       # com aqueles que nao fizeram nenhuma compra
        cliente.remove(on[e])
print(len(cliente))
print(len(visita))
print(len(cliente)/len(visita))

68388
62424
80765
0.7729090571410884

In [38]:
#extra
df1['state'].value_counts()  # contamos as ocorrencias de cada  estado

RJ    8867
SP    6123
RS    4631
PE    3289
AM    1527
RN    1472
MA    1078
PR     888
PI     834
MS     361
GO     302
Name: state, dtype: int64

In [39]:
df3['pageType'].value_counts()# contamos a  ocorrencia de cada tipo de pagina

product         1415853
subcategory      689586
home             381654
category         344513
landing_page     275505
search            94510
not_found         87938
other             75302
cart              30203
emptysearch       29618
checkout          17332
confirmation       8351
userprofile        2058
topqueries          117
Name: pageType, dtype: int64